.portfolio {
    padding: 6rem 3rem 3rem 3rem;
    background-color: $color-grey-light;

	@include respond(phone){
		padding: 3rem 1rem;	
	}

    &__header {
        text-align: center;
    }
}

.contrib-link:link,
.contrib-link:visited {
	margin-left: 1rem;
	color: $color-primary-dark;

	&:hover {
		color: $color-green-dark;
	}
}

.project {
	margin-bottom: 6rem;

	&__header {
		margin-top: 3rem;
		padding: 0 3rem;
		border-top: 1px solid $color-black-light;
		display: flex;
		justify-content: space-around;

		&--heading-box {
			width: 40%;
			text-align: center;
		}
			
		&--heading {
			background-color: $color-black-light;
			color: $color-white;
			display: inline-block;
			padding: 0 2rem;
			border-radius: 0 0 4px 4px;
			text-transform: uppercase;
			font-weight: 300;

			@include respond(phone){
				width: 100%;	
				border-radius: 0;
				line-height: 4rem;
			}
		}

		@include respond(phone){
			width: 100%;	
		}

	}

	&__container {
		margin-top: 3rem;
		padding: 0 3rem;
		display: flex;
		justify-content: space-around;
		// background-color: pink;

		&--empty {
			width: 60%;
		}

		&--desktop {
			width: 40%;
			animation: appear .5s linear 1;
			transition: all .2s;
			// border: 1px dashed orangered;
			// z-index: 200;

			img {
				height: auto;
				width: 100%;
				transition: all .2s;

				@include respond(phone){
					width: 100%;
					height: auto;
				}
			}

			&:hover {
				transform: scale(1.1);
			}
		}

		&--text-box {
			width: 60%;
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// border: 1px dashed green;
		}

	}

    &__description {

        &--text {
           // margin-top: 4rem;
        }

        &--link {
			text-align: center;
			display: flex;
			justify-content: space-around;

            a {
                padding: .3rem;
                color: $color-primary;
                text-decoration: none;
                border-bottom: 3px dashed $color-primary;
                letter-spacing: 1px;
                font-weight: 700;
				transition: all .2s;

                &:hover {
                    background-color: rgba($color-primary, .5);
                    color: $color-white;
                }

				@include respond(phone) {
					// display: block;
				}
            }
        }

		&--contrib {

			@include respond(phone){
				display: flex;
				flex-direction: column;
			}

			&-link:link,
			&-link:visited {
				margin-left: 1rem;
				color: $color-primary-dark;

				&:hover {
					color: $color-green-dark;
				}
			}
		}
	

    }

    &__tech {
		margin-left: auto;
		border: 1px solid $color-primary;
		width: 80%;
		// max-height: 0;

		&--show {

		}

		&-header {
			text-align: center;
			font-style: italic;
			font-size: 1.5rem;
			display: none;
			// opacity: 0;
		}

		&-row {

			display: flex;
			justify-content: space-around;
			// border: 1px dashed red;
			// max-height: 0;
			// opacity: 0;
			display: none;

			&--box {
				margin: 3rem;
			}

			&--img {
				// opacity: 0;
				height: 10rem;
				width: auto;
			}

			@include respond(phone){
				padding: 0;	
			}
		}
    }
}
