.portfolio {
    padding: 6rem 3rem 3rem 3rem;
    background-color: $color-grey-light;

	@include respond(phone){
		padding: 3rem 1rem;	
	}

    &__header {
        text-align: center;
    }
}

.contrib-link:link,
.contrib-link:visited {
	margin-left: 1rem;
	color: $color-primary-dark;

	&:hover {
		color: $color-green-dark;
	}
}

.project {
    padding: 3rem;

	@include respond(phone){
		display: flex;
		flex-direction: column;	
		align-items: center;
		padding: 3rem 1rem;
	}

    &__description {
		display: inline-block;
		width: 50%;

		p {
			margin: 1rem;
		}
        &--header {
			text-align: center;
            padding: 3rem;
        }

        &--text {
            // margin-top: 4rem;
        }

        &--link {
			text-align: center;
            margin-top: 4rem;
			display: flex;
			justify-content: space-around;

            a {
                padding: .3rem;
                color: $color-primary;
                text-decoration: none;
                border-bottom: 3px dashed $color-primary;
                letter-spacing: 1px;
                font-weight: 700;
				transition: all .2s;

                &:hover {
                    background-color: rgba($color-primary, .5);
                    color: $color-white;
                }

				@include respond(phone) {
					// display: block;
				}
            }
        }

		&--contrib {

			@include respond(phone){
				display: flex;
				flex-direction: column;
			}

			&-link:link,
			&-link:visited {
				margin-left: 1rem;
				color: $color-primary-dark;

				&:hover {
					color: $color-green-dark;
				}
			}
		}
	

		@include respond(phone){
			order: 2;		
			width: 100%;
			text-align: center;	
		}
    }

	&__tech-row {
		text-align: center;

		&--img {
			height: 6rem;
			width: auto;
		}
	}

    &__tech {
		text-align: center;
		margin-top: 2rem;
		font-style: italic;
		font-size: 1.5rem;
    }

    &__desktop {
		display: inline-block;
		width: 50%;
		float: right;
        text-align: center;
		animation: appear .5s linear 1;

        &--img {
            height: 40rem;
            width: auto;
			transition: all .2s;

			&:hover {
				transform: scale(1.1);
			}

			@include respond(phone){
				width: 100%;
				height: auto;
			}
        }

		@include respond(phone){
			width: 100%;
			order: 1;	
		}
    }

}
