.site {
	padding: 3rem 5rem;
	background-color: $color-grey-light;

	&__header {
		text-align: center;
		margin-bottom: 3rem;
	}

	&__wrapper {
		&:not(:last-child) {
			margin-bottom: 6rem;
		}
	}

	&__container {
		border-top: 1px solid rgba($color-black, .5);
		display: flex;
		justify-content: center;
		
		&--heading {
			text-align: center;
			width: 30%;
		}

		&--text {
			box-sizing: border-box;
			border: 2px solid $color-primary;
			max-height: 0;
			transition: all 1s;
		
			& > p {
				transition: all 1s;
				padding: 0 1rem;
				opacity: 0;
			}

			&-box {
				width: 60%;
			}

		}

		&--tool-box {
			margin: 4rem;
			display: flex;
			justify-content: space-around;
		}

		&--tool {
			background-size: cover;
			height: 12rem;
			width: 10.5rem;

			&:hover {
				cursor: pointer;
			}

			&-name {
				margin-top: -3rem;
				text-align: center;
			}
		}


		&--more {
			display: inline-block;
			border-radius: 4px 4px 0 0;
			background-color: $color-primary;
			color: $color-white;
			height: 4rem;
			font-weight: 700;
			transition: all .2s;

			&-text {
				display: flex;
				align-items: center;
				height: 100%;

				svg {
					transition: all .5s;
				}

				p {
					margin-left: 2rem;
					text-transform: uppercase;
				}
				
				&:hover > svg {
					transform: rotate(90deg);
				}
			}

			&:hover {
				background-color: $color-red-light;
				cursor:pointer;

				& + div,
				& + div > p {
					opacity: 1;
					max-height: 1000px;
				}

			}
		}
	}

	&__icon {
		fill: $color-white;
		height: 100%;
		width: 2rem;
		margin: 0 2rem;
	}

}
