.footer {
    background-color: $color-black-light;
    padding: 10rem 3rem;
    position: relative;
    height: 30rem;

    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        // border: 1px dashed red;
        width: 30%;
        display: inline-block;
        margin-left: 10rem;

        &--list {
            display: flex;
            justify-content: space-around;
            list-style: none;
            outline: none;
        }

        &--item {
            border-top: .3rem solid $color-white;
            padding-top: 1rem;
            text-align: center;
            color: $color-white;
            width: 100%;
            flex: 1 100%;
            outline: none;
            cursor: pointer;
            transition: all .2s;
            z-index: 100;

            &:hover {
                border-top: .3rem solid $color-green-dark;
                color: $color-green-dark;
            }
        }

    }
    &__logo {
        // margin: 2rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &-img {
            height: 10rem;
            width: auto;
        }
    
        &--brand {
            text-align: center;
            color: $color-red;
            letter-spacing: 1px;
        }

        &--name {
            color: $color-white;
        }
    }

    &__text {
        width: 30%;
        // border-top: 2px solid $color-white;
        margin-right: 10rem;
        text-align: center;
        color: $color-white;
        // margin-bottom: 4rem;
    }

}
