#fold {
//	padding-top: 4rem;
}

.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    z-index: 300;
    background-color: $color-black-light;
    width: 100%;
    color: $color-white;
    
    &__list {
        margin: 0 auto;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__item {
        cursor: pointer;
        outline: none;
        flex-basis: 0 0 20%;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        padding: 1rem;
        display: flex;
        letter-spacing: 1.5px;

        & > * {
            height: 100%;  
        }
    }

    &__link {
        text-decoration: none;
        color: $color-white;
    }


    &__item::before {
        content: "";
        position: absolute;
        bottom: 0px; 
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $color-primary;
        transform: scaleX(0);
        transition: transform .2s,
                    background-color .1s;
    }

    &__item:hover::before {
        transform: scaleY(1);
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        // fill: var(--color-grey-light-1);
        fill: $color-white;
        outline: none;
        margin-right: .5rem;

    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    
}


