<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prescott Breeden | Software Devleoper</title>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__title">
				<h1 class="header__primary-text">
					Prescott Breeden<span class="header__blink">_</span>
				</h1>
				<p class="header__secondary-text">Full-stack Software Developer</p>
			</div>

		</header>
		<div class="navigation" id="nav">
			<div class="navigation__list">
				<div class="navigation__item navigation__item--home">
					<svg class="navigation__icon">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-profile"></use>
					</svg>
					<span>
						<a href="#about" class="navigation__link">About</a>
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--portfolio">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-embed2"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Portfolio</a> -->
						Portfolio
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--about">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-database"></use>
					</svg>
					<span>
						<!-- <a href="#tech-top" class="navigation__link">Technology</a> -->
						Technology
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--contact">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-envelop"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Contact</a> -->
						Contact
					</span>
				</div>
			</div>
		</div>
		<section class="contact">
			<h2 class="contact__header">Get In Touch</h2>
			<div class="contact__container">
				<div class="contact__form-box">
					<!-- empty -->
				</div>
				<form class="form" action="/process" method="POST">
					<div class="form__group">
						<input 
							class="form__input" 
							id="name_fieild" 
							type="text" 
							name="name"
							placeholder="Full Name"
							autocomplete="name">
						<label 
							for="name"
							class="form__label">
							Full Name
						</label>
					</div>
					<div class="form__group">
						<input 
							class="form__input" 
							id="email_field" 
							type="email" 
							name="email"
							placeholder="Email Address"
							autocomplete="email">
						<label 
							for="email"
							class="form__label">
							Email Address
						</label>
					</div>
					<div class="form__group">
					<p class="form__textarea-label">
						Got an idea for a project?</p>
						
					<textarea 
						name="project"
						maxlength="500"
						wrap="hard"
						class="form__textarea"></textarea>
					</div>	
					<button class="form__btn">Send &#9993;</button>
					<p class="form__cta">Send a message and let's chat!</p>
				</form>
			</div>
			<ul class="contact__info">
				<li class="contact__info--item">
					<a 
						href="https://github.com/prescottbreeden"
						target="_blank">
						<svg class="contact__icon">
							<use 
								xlink:href="/static/img/icomoon/sprite.svg#icon-github">
							</use>
						</svg>
					</a>
					<a 
						href="http://www.linkedin.com/in/prescottbreeden"
						target="_blank">
						<svg class="contact__icon">
							<use 
								xlink:href="/static/img/icomoon/sprite.svg#icon-linkedin">
							</use>
						</svg>
					</a>
			
				</li>
			</ul>
		</section>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer__nav">
					<ul class="footer__nav--list">
						<li class="footer__nav--item" [routerLink]="['']">
						<!-- About -->
							<a href="#about" class="navigation__link">About</a>
						</li>
						<li class="footer__nav--item" [routerLink]="['portfolio']">
							Portfolio
						</li>
						<li class="footer__nav--item" [routerLink]="['tech']">
							Technology
						</li>
						<li class="footer__nav--item" [routerLink]="['contact']">
							Contact
						</li>
					</ul>
				</div>
				<div class="footer__text">
					<p>
						This site was built by Prescott Breeden. 
						<br>
						All rights reserved &copy; 2018.
					</p>
				</div>

			</div>

			<div class="footer__logo">
				<img 
					src="/static/img/p_logo5.png" 
					alt="site logo" 
					class="footer__logo-img"
					>
				<p class="footer__logo--name">Prescott Breeden, BM</p>
				<p class="footer__logo--brand">
					"Anything can be built, it's the idea that's the trick"
				</p>
			</div>
		</footer>
	</body>
</html>


