<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prescott Breeden | Software Devleoper</title>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__title">
				<h1 class="header__primary-text">
					Prescott Breeden<span class="header__blink">_</span>
				</h1>
				<p class="header__secondary-text">
					Full-stack Software Developer
				</p>
			</div>

		</header>
		<div class="navigation" id="nav">
			<div class="navigation__list">
				<div class="navigation__item navigation__item--home">
					<svg class="navigation__icon">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-profile"></use>
					</svg>
					<span>
						<a href="#about" class="navigation__link">About</a>
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--portfolio">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-embed2"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Portfolio</a> -->
						Portfolio
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--about">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-database"></use>
					</svg>
					<span>
						<!-- <a href="#tech-top" class="navigation__link">Technology</a> -->
						Technology
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--contact">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-envelop"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Contact</a> -->
						Contact
					</span>
				</div>
			</div>
		</div>
		<section class="portfolio">
			<h2 class="portfolio__header">My Work</h2>
			<div class="project">
				<div class="project__description">
				<h2 class="project__description--header">
					Powder
				</h2>
				<p class="project__description--text">
					Powder is a mock-landing page showcasing various animations 
					and features capable with just CSS3 and HTML5 alone. The 
					site is fully responsive to provide a smooth user 
					experience on various device sizes.
				</p>
				<p class="project__description--link">
					<a 
					href="http://13.58.172.1/"
					target="_blank">Visit Website &rarr;</a>
				</p>
				</div>
				<div class="project__desktop">
				<a 
					href="http://13.58.172.1/"
					target="_blank">
					<img 
						src="/static/img/powder_desktop.png" 
						alt="project web page"
						class="project__desktop--img">
				</a>
				</div>
				<div class="project__tech">
				<ul class="project__tech--list">
					<li class="project__tech--item">Angular</li>
					<li class="project__tech--item">Express</li>
					<li class="project__tech--item">JavaScript</li>
					<li class="project__tech--item">SASS</li>
					<li class="project__tech--item">AWS</li>
				</ul>
				</div>
			</div>
			<div class="project">
				<div class="project__description">
				<h2 class="project__description--header">
					Ultimate Fan
				</h2>
				<p class="project__description--text">
					Ultimate Fan is a trivia game that tests users about 
					athletes from selected categories. All trivia questions 
					were generated via web scraping robot. 
				</p>
				<p class="project__description--link">
					<a 
					href="http://18.220.231.186/"
					target="_blank">Visit Website &rarr;</a>
				</p>
				</div>
				<div class="project__desktop">
				<a 
					href="http://18.220.231.186/"
					target="blank">
					<img 
						src="/static/img/ultimate_fan.png" 
						alt="project web page"
						class="project__desktop--img">
				</a>
				</div>
				<div class="project__tech">
				<ul class="project__tech--list">
					<li class="project__tech--item">Django</li>
					<li class="project__tech--item">Python</li>
					<li class="project__tech--item">JavaScript</li>
					<li class="project__tech--item">SASS</li>
					<li class="project__tech--item">SQLite</li>
					<li class="project__tech--item">Beautiful Soup</li>
					<li class="project__tech--item">Chart.js</li>
					<li class="project__tech--item">Bcrypt</li>
					<li class="project__tech--item">AWS</li>
				</ul>
				</div>
			</div>
			<div class="project">
				<div class="project__description">
				<h2 class="project__description--header">
					Casino 31
				</h2>
				<p class="project__description--text">
					Casino 31 is a card game for 1-6 players. Users can play 
					with their friends, the AI computer, or even just watch the 
					computer play. 
				</p>
				<p class="project__description--link">
					<a 
					href="http://18.188.70.127/"
					target="_blank">Visit Website &rarr;</a>
				</p>
				</div>
				<div class="project__desktop">
				<a 
					href="http://18.188.70.127/"
					target="_blank">
					<img 
						src="/static/img/casino31.png" 
						alt="project web page"
						class="project__desktop--img">
				</a>
				</div>
				<div class="project__tech">
				<ul class="project__tech--list">
					<li class="project__tech--item">ASP.NET Core</li>
					<li class="project__tech--item">C#</li>
					<li class="project__tech--item">JavaScript</li>
					<li class="project__tech--item">jQuery</li>
					<li class="project__tech--item">AJAX</li>
					<li class="project__tech--item">SASS</li>
					<li class="project__tech--item">AWS</li>
				</ul>
				</div>
			</div>
		</section>

	</body>
</html>
