<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prescott Breeden | Software Devleoper</title>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__title">
				<h1 class="header__primary-text">
					Prescott Breeden<span class="header__blink">_</span>
				</h1>
				<p class="header__secondary-text">Full-stack Software Developer</p>
			</div>

		</header>
		<div class="navigation" id="nav">
			<div class="navigation__list">
				<div class="navigation__item navigation__item--home">
					<svg class="navigation__icon">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-profile"></use>
					</svg>
					<span>
						<a href="#about" class="navigation__link">About</a>
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--portfolio">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-embed2"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Portfolio</a> -->
						Portfolio
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--about">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-database"></use>
					</svg>
					<span>
						<!-- <a href="#tech-top" class="navigation__link">Technology</a> -->
						Technology
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--contact">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-envelop"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Contact</a> -->
						Contact
					</span>
				</div>
			</div>
		</div>

<p>portfolio works</p>


	</body>
</html>
