<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prescott Breeden | Software Devleoper</title>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__title">
				<h1 class="header__primary-text">
					Prescott Breeden<span class="header__blink">_</span>
				</h1>
				<p class="header__secondary-text">Full-stack Software Developer</p>
			</div>

		</header>
		<div class="navigation" id="nav">
			<div class="navigation__list">
				<div class="navigation__item navigation__item--home">
					<svg class="navigation__icon">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-profile"></use>
					</svg>
					<span>
						<a href="#about" class="navigation__link">About</a>
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--portfolio">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-embed2"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Portfolio</a> -->
						Portfolio
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--about">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-database"></use>
					</svg>
					<span>
						<!-- <a href="#tech-top" class="navigation__link">Technology</a> -->
						Technology
					</span>
				</div>
				<div class="navigation__item">
					<svg class="navigation__icon navigation__icon--contact">
						<use xlink:href="/static/img/icomoon_15_icons/sprite.svg#icon-envelop"></use>
					</svg>
					<span>
						<!-- <a href="#" class="navigation__link">Contact</a> -->
						Contact
					</span>
				</div>
			</div>
		</div>
		<section class="tech">
			<h2 class="tech__header">Tech & Tools</h2>
			<ul class="grid clear">
				<li class="hex-container" >
					<div class="hexagon img-1" (click)='zoom($event)'>
						<span class="transparent">1</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-9" (click)='zoom($event)'>
						<span class="transparent">9</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-10" (click)='zoom($event)'>
						<span class="transparent">10</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-17" (click)='zoom($event)'>
						<span class="transparent">17</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-18" (click)='zoom($event)'>
						<span class="transparent">18</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-19" (click)='zoom($event)'>
						<span class="transparent">19</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-27" (click)='zoom($event)'>
						<span class="transparent">27</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-2" (click)='zoom($event)'>
						<span class="transparent">2</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-8" (click)='zoom($event)'>
						<span class="transparent">8</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-11" (click)='zoom($event)'>
						<span class="transparent">11</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-16" (click)='zoom($event)'>
						<span class="transparent">16</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-20" (click)='zoom($event)'>
						<span class="transparent">20</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-26" (click)='zoom($event)'>
						<span class="transparent">26</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-28" (click)='zoom($event)'>
						<span class="transparent">28</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-3" (click)='zoom($event)'>
						<span class="transparent">3</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-5" (click)='zoom($event)'>
						<span class="transparent">5</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-7" (click)='zoom($event)'>
						<span class="transparent">7</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-12" (click)='zoom($event)'>
						<span class="transparent">12</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-15" (click)='zoom($event)'>
						<span class="transparent">15</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-21" (click)='zoom($event)'>
						<span class="transparent">21</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-25" (click)='zoom($event)'>
						<span class="transparent">25</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-4" (click)='zoom($event)'>
						<span class="transparent">4</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-6" (click)='zoom($event)'>
						<span class="transparent">6</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-13" (click)='zoom($event)'>
						<span class="transparent">13</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-14" (click)='zoom($event)'>
						<span class="transparent">14</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-22" (click)='zoom($event)'>
						<span class="transparent">22</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-23" (click)='zoom($event)'>
						<span class="transparent">23</span>
					</div>
				</li>     
				<li class="hex-container" >
					<div class="hexagon img-24" (click)='zoom($event)'>
						<span class="transparent">24</span>
					</div>
				</li>     
			</ul>
			<div class="tech__details">
				<div class="tech__details--container">

					<div class="tech__logo-box">
						{% if zoomImg %}
						<img
							src="static/img/logos/{{ zoomImg }}.png" 
							alt="tech logo"
							class="tech__logo-box--img">
						{% endif %}
					</div>
					<div class="tech__explain">
						{% if zoomImg %}
							<p>{{ techDescription }}</p>
						{% else %}
							<p class="u-center">Click on a logo to learn more.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__nav">
					<ul class="footer__nav--list">
						<li class="footer__nav--item" [routerLink]="['']">
						<!-- About -->
							<a href="#about" class="navigation__link">About</a>
						</li>
						<li class="footer__nav--item" [routerLink]="['portfolio']">
							Portfolio
						</li>
						<li class="footer__nav--item" [routerLink]="['tech']">
							Technology
						</li>
						<li class="footer__nav--item" [routerLink]="['contact']">
							Contact
						</li>
					</ul>
				</div>
				<div class="footer__text">
					<p>
						This site was built by Prescott Breeden. 
						<br>
						All rights reserved &copy; 2018.
					</p>
				</div>

			</div>

			<div class="footer__logo">
				<img 
					src="/static/img/p_logo5.png" 
					alt="site logo" 
					class="footer__logo-img"
					>
				<p class="footer__logo--name">Prescott Breeden, BM</p>
				<p class="footer__logo--brand">
					"Anything can be built, it's the idea that's the trick"
				</p>
			</div>
		</footer>
	</body>
</html>

