$technologies: 
'flask',
'python', 
'sass',
'aws',
'jquery',
'ubuntu',
'bootstrap',
'csharp',
'django',
'dotnet', 
'r',
'postman',
'nginx',
'html5',
'git',
'sql',
'nodejs',
'express',
'angular', 
'mongodb', 
'github',
'css3', 
'javascript',
'vscode',
'vim',
'firebase',
'react', 
'sqlite',
;

$total: length($technologies);

@mixin beehive-appear($wait) {
   animation: appear .25s #{$wait * .05}s 1 ease-out forwards; 
}

@for $i from 1 through $total {
    .img-#{$i} { 
        @include beehive-appear($i); 
        background-image: linear-gradient(to bottom, 
							rgba($color-red-light, .0), 
							rgba($color-red-light, .0)),
							url('img/logos/#{nth($technologies, $i)}.png');
        background-size: cover;
        background-position: center;
        position: relative;
        backface-visibility: hidden;

        &:after {
            content: "#{nth($technologies, $i)}";
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            opacity: 0;
        }

        &:hover {
            background-image: linear-gradient(to bottom, 
            rgba($color-black, .8), 
            rgba($color-black, .8)),
            url('img/logos/#{nth($technologies, $i)}.png');
            opacity: 1;
        }

        &:hover:after {
            opacity: 1;
        }
    }
}

// @for $i from 1 through $total {
//     .preload-#{$i} { 
//         background-image: url('assets/logos/#{nth($technologies, $i)}.png');
//     }
// }

