$technologies: 
	'html5',
	'css3', 
	'javascript',
	'jquery',
	'sass',
	'angular', 
	'mongodb', 
	'sql',
	'sqlite',
	'r',
	'postman',
	'nodejs',
	'flask',
	'django',
	'python', 
	'dotnet', 
	'csharp',
	'express',
;

$total: length($technologies);

@mixin beehive-appear($wait) {
   animation: appear .25s #{$wait * .05}s 1 ease-out forwards; 
}

@for $i from 1 through $total {
    .img-#{$i} { 
        @include beehive-appear($i); 
        background-image: url('img/tlogos/#{nth($technologies, $i)}.png');
        background-size: cover;
        background-position: center;
        position: relative;
        backface-visibility: hidden;

        &:after {
            content: "#{nth($technologies, $i)}";
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
			text-align: center;
			padding: .25rem 1rem;
			width: 90%;
			border-radius: 200px;
            opacity: 0;
        }


        &:hover:after {
            opacity: 1;
			background-color: rgba($color-black, .8);
        }
    }
}

// @for $i from 1 through $total {
//     .preload-#{$i} { 
//         background-image: url('assets/logos/#{nth($technologies, $i)}.png');
//     }
// }

