$technologies: 
'flask',
'python', 
'sass',
'aws',
'jquery',
'ubuntu',
'csharp',
'django',
'dotnet', 
'r',
'postman',
'html5',
'git',
'sql',
'nodejs',
'express',
'angular', 
'mongodb', 
'github',
'css3', 
'javascript',
'vim',
'firebase',
'sqlite',
;

$total: length($technologies);

@mixin beehive-appear($wait) {
   animation: appear .25s #{$wait * .05}s 1 ease-out forwards; 
}

@for $i from 1 through $total {

}

