{% extends "base.html" %}

{% block content %}
<div id="fold">
	<!-- content container -->	
	<section class="about">
		<h2 class="u-center">Welcome!</h2>
		<div class="about__text-box">
			<h2 class="about__heading">About Me</h2>
			<p class="about__blurb">I'm a full-stack software developer with a 
				background in the arts and sciences. I graduated from Manhattan 
				School of Music with a bachelor of music in classical vocal 
				performance (opera). After moving to Seattle, I became a business 
				owner taking evening classes to return to grad school in biology. 
				During this time, I minimized a lot of business costs by maintaining 
				my own business web presences which taught me much about coding.
				However, it was during my time at ASU as a researcher when 
				I began learning R and Python for my research papers that my love 
				for programming began to take shape.</p>
		</div>
	</section>
	<section class="services">
		<h2 class="services--heading">What I Do</h2>
		<div class="services--container">
			<div class="empty-space">
				<!-- empty -->
			</div>
			<div class="wrapper">
				<div class="services--front-end">
					<div class="cube__container">
						<h3>Front End</h3>
						<img 
							title="Skills"
							class="cube__img"
							src="/static/img/cube_primary.png" 
							alt="blue cube">
					</div>	
					<div class="cube__text">
						<ul class="services--list">
							<li>Responsive Layouts</li>
							<li>Styling and Animations</li>
							<li>Front-end Architecture</li>
						</ul>
					</div>
				</div>
				<div class="services--backend">
					<div class="cube__container">
						<h3>Back End</h3>
						<img 
							title="Skills"
							class="cube__img"
							src="/static/img/cube_red.png" 
							alt="red cube">
					</div>
					<div class="cube__text">
						<ul class="services--list">
							<li>MVC Architecture</li>
							<li>Restful API Design</li>
							<li>Object Relational Mapping</li>
						</ul>
					</div>
				</div>
				<div class="services--db">
					<div class="cube__container">
						<h3>Databases</h3>
						<img 
							title="Skills"
							class="cube__img"
							src="/static/img/cube_teal.png" 
							alt="teal cube">
					</div>
					<div class="cube__text">
						<ul class="services--list">
							<li>Database Design</li>
							<li>SQL Databases</li>
							<li>NoSQL Databases</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
