{% extends "base.html" %}

{% block content %}
<div id="fold">
	<!-- content container -->	
	<section class="about">
		<h2 class="u-center">Welcome!</h2>
		<div class="about__text-box">
			<h2 class="about__heading">About Me</h2>
			<p class="about__blurb">I'm a full-stack software developer with a 
				background in the arts and sciences. As a former opera singer, then
				CEO and then neuro&shy;scientist, the one consistency across all
				realms was the need for newer and better tech to drive innovation. 
				I love to think big and have a passion for tackling challenges to 
				find elegant solutions that are clean, efficient and reusable.</p>
		</div>
	</section>
	<section class="services">
		<h2 class="services--heading">What I Do</h2>
		<div class="services--container">
			<div class="empty-space">
				<!-- empty -->
			</div>
			<div class="wrapper">
				<h3>Front End</h3>
				<div class="services--front-end">
					<div class="cube__container">
						<img 
							title="Skills"
							class="cube__img"
							src="/static/img/cube_primary.png" 
							alt="blue cube">
					</div>	
					<div class="cube__text">
						<ul class="services--list">
							<li>Responsive Layouts</li>
							<li>Styling and Animations</li>
							<li>Front-end Architecture</li>
						</ul>
					</div>
				</div>
				<h3>Back End</h3>
				<div class="services--backend">
					<div class="cube__container">
						<img 
							title="Skills"
							class="cube__img"
							src="/static/img/cube_red.png" 
							alt="blue cube">
					</div>
					<div class="cube__text">
						<ul class="services--list">
							<li>MVC Architecture</li>
							<li>Restful API Design</li>
							<li>Object Relational Mapping</li>
						</ul>
					</div>
				</div>
				<h3>Databases</h3>
				<div class="services--db">
					<div class="cube__container">
						<img 
							title="Skills"
							class="cube__img"
							src="/static/img/cube_teal.png" 
							alt="blue cube">
					</div>
					<div class="cube__text">
						<ul class="services--list">
							<li>Database Design</li>
							<li>SQL Databases</li>
							<li>NoSQL Databases</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
