{% extends "base.html" %}

{% block content %}
<div id="fold">
	<!-- content container -->	
	<div class="success">
		<div class="success__shadowbox">
			<div class="success__info">
				<h2 class="success__header">Message Sent!</h2>
				<div class="success__container">
					<p class="success__field-name">Name:</p>
					<p class="success__name">{{ info['name'] }}</p>
				</div>
				<div class="success__container">
					<p class="success__field-name">Email:</p>
					<p class="success__email">{{ info['email'] }}</p>
				</div>
				<div class="success__container">
					<p class="success__field-name">Message:</p>
					<p class="success__message">{{ msg }}</p>
				</div>
				<a class="success__link" href="/">
					<button id="return_home" class="success__btn">okay</button>
				</a>
				<p class="success__warning">
					Thanks! I will be in touch soon!
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
